:root {
    /* Colours */
    --color-text: #fff;
    --color-primary: #4a5ca6;
    --color-secondary: #19376d;
    --color-dark: #0b2447;
    --color-bg: #092240;
  
    /* Fonts */
    --font-roboto: "Roboto";
  }




